.idea/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/src/main
output.txt
input.txt
.vscode/
docs/
/src/Doxyfile
/src/html
/src/latex
